{% extends "layout.html" %}

{% block body %}

<form action="/">
  <input type="submit" value="reset">
</form>

<br>

Select model:
<select id="model">
  <option>fintech</option>
  <option>unix</option>
</select>
<br>
<br>

<button name="load">load</button>

<hr>
<div id="jstree"></div>

<div id="info"></div>
{% endblock %}
